/* General Styles */
body {
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
  
}

/* Header */
header {
    color: #f54242;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}