/* General Styles */
body {
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
  
}

/* Header */
header {
    color: #f54242;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    letter-spacing: 3px;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
#nav {
    letter-spacing: 2px;
    list-style-type: none;
}